@page
@model Airespring.Web.Pages.Employees.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        Search by LastName or Phone: <input type="text" name="searchString" value="@Model.CurrentFilter" />
            <input type="submit" asp-route-sortOrder="@Model.CurrentSort" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index" asp-route-sortOrder="@Model.CurrentSort">Back to full List</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Last Name
            </th>
            <th>
                First Name
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Zip
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort"  asp-route-currentFilter="@Model.CurrentFilter">
                    Hired Date
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employee) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @item.HiredDate.ToShortDateString()
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
